

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial;
}

.app-image {
  width: 400px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.todo-input {
  padding: 10px;
  width: 300px;
  border: 2px solid green;
  border-radius: 5px;
}

.send-button {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.todo-list {
  width: 400px;
}

/* .todo-item {
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-left: 5px solid green;
  border-radius: 5px;
  background-color: #f9f9f9;
} */
 .todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px;
  margin-bottom: 10px;

  background: #f5f5f5;
  border-radius: 5px;
}

.footer {
  margin-top: 20px;
  color: #555;
}
.mark-done-btn {
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.mark-done-btn:hover {
  background-color: #0b5ed7;
}